params	{
	config_profile_description = 'NYU NGS Analysis'

	// limit resources
	max_memory = 16.GB
	max_cpus = 2
	max_time = 1.d

	// main options
	tools = 'haplotypecaller,mpileup'
	skip_tools = 'dnascope_filter'
	split_fastq = 25000000
	joint_germline = true

	// path for genomes
	custom_genomes = "/scratch/work/courses/BI7653/hw4.2024/sarek/GATKBundle"
	
	genomes {
        	'GATK.GRCh38' {
        	    ascat_alleles           = "${params.custom_genomes}/G1000_alleles_hg38.zip"
        	    ascat_genome            = 'hg38'
        	    ascat_loci              = "${params.custom_genomes}/G1000_loci_hg38.zip"
        	    ascat_loci_gc           = "${params.custom_genomes}/GC_G1000_hg38.zip"
        	    ascat_loci_rt           = "${params.custom_genomes}/RT_G1000_hg38.zip"
        	    bwa                     = "${params.custom_genomes}/BWAIndex/"
        	    dbsnp                   = "${params.custom_genomes}/dbsnp_146.hg38.vcf.gz"
        	    dbsnp_tbi               = "${params.custom_genomes}/dbsnp_146.hg38.vcf.gz.tbi"
        	    dbsnp_vqsr              = '--resource:dbsnp,known=false,training=true,truth=false,prior=2.0 dbsnp_146.hg38.vcf.gz'
        	    dict                    = "${params.custom_genomes}/Homo_sapiens_assembly38.dict"
        	    fasta                   = "${params.custom_genomes}/Homo_sapiens_assembly38.fasta"
        	    fasta_fai               = "${params.custom_genomes}/Homo_sapiens_assembly38.fasta.fai"
        	    germline_resource       = "${params.custom_genomes}/af-only-gnomad.hg38.vcf.gz"
        	    known_indels_tbi        = "${params.custom_genomes}/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz.tbi,${params.custom_genomes}/Homo_sapiens_assembly38.known_indels.vcf.gz.tbi"
	            intervals               = "${params.custom_genomes}/wgs_calling_regions_noseconds.hg38.bed"
        	    known_snps              = "${params.custom_genomes}/1000G_omni2.5.hg38.vcf.gz"
        	    known_snps_tbi          = "${params.custom_genomes}/1000G_omni2.5.hg38.vcf.gz.tbi"
        	    ngscheckmate_bed        = "${params.custom_genomes}/SNP_GRCh38_hg38_wChr.bed"
        	    pon                     = "${params.custom_genomes}/1000g_pon.hg38.vcf.gz"
        	    snpeff_db               = 105
        	    snpeff_genome           = 'GRCh38'
        	    vep_cache_version       = 110
        	    vep_genome              = 'GRCh38'
        	    vep_species             = 'homo_sapiens'
        	}

	
	}
}


// remove intermediate files
cleanup = true

process	{
	executor = 'slurm'
	clusterOptions = '--export=NONE'
	maxRetries = 2

	// software limits
	withName: 'FASTQC'{
        	cpus   = 1
        	memory = 4.GB
		}
	withName: 'MULTIQC'{
                cpus   = 1
                memory = 10.GB
    		}
        withName: 'FASTP'{
                cpus   = 1
                memory = 4.GB
    		}
	}


