params	{
	config_profile_description = 'NYU NGS Analysis'

	// limit resources
	//max_memory = 16.GB
	//max_cpus = 2
	//max_time = 1.d

	// main options
	// change step to mapping as default, variant_calling for test
	tools = 'strelka,mutect2'
	skip_tools = 'dnascope_filter' 
	split_fastq = 25000000
	step = 'variant_calling' 
	//joint_mutect2 = true
	
	// path for genomes
	custom_genomes = "/scratch/kk4764/ngs/nextflow/GATKBundle"

        ascat_alleles           = "${params.custom_genomes}/G1000_alleles_hg38.zip"
        ascat_loci              = "${params.custom_genomes}/G1000_loci_hg38.zip"
        ascat_loci_gc           = "${params.custom_genomes}/GC_G1000_hg38.zip"
        ascat_loci_rt           = "${params.custom_genomes}/RT_G1000_hg38.zip"
        bwa                     = "${params.custom_genomes}/BWAIndex/"
        dbsnp                   = "${params.custom_genomes}/dbsnp_146.hg38.vcf.gz"
        dbsnp_tbi               = "${params.custom_genomes}/dbsnp_146.hg38.vcf.gz.tbi"
        germline_resource       = "${params.custom_genomes}/af-only-gnomad.hg38.vcf.gz"
        known_snps              = "${params.custom_genomes}/1000G_omni2.5.hg38.vcf.gz"
        known_snps_tbi          = "${params.custom_genomes}/1000G_omni2.5.hg38.vcf.gz.tbi"
        ngscheckmate_bed        = "${params.custom_genomes}/SNP_GRCh38_hg38_wChr.bed"
        pon                     = "${params.custom_genomes}/1000g_pon.hg38.vcf.gz"
    	
	// from the mutect2 data
	fasta                  = "/scratch/kk4764/mutect2/ref/Homo_sapiens_assembly38.fasta"
    	fasta_fai              = "/scratch/kk4764/mutect2/ref/Homo_sapiens_assembly38.fasta.fai"
    	dict                   = "/scratch/kk4764/mutect2/ref/Homo_sapiens_assembly38.dict"
	// intervals              = "/scratch/kk4764/mutect2/resources/chr17plus.interval_list"
}


// remove intermediate files
cleanup = true

process {

    withName: 'GETPILEUPSUMMARIES.*' {
	ext.prefix = { intervals ? "${meta.id}_${intervals}" : "${meta.id}" } 
    }

    withName: 'GETPILEUPSUMMARIES_.*' {
        ext.prefix = { intervals ? "${meta.id}_${intervals}" : "${meta.id}" }
    }
   withName: 'MERGE_MUTECT2.*' {
        ext.prefix = { intervals ? "${meta.id}_${intervals}" : "${meta.id}" }
    }
   withName: 'GATK4_MERGEVCFS' {
        ext.prefix = { intervals ? "${meta.id}_${intervals}" : "${meta.id}" }
    }
   withName: 'MERGEMUTECTSTATS*' {
        ext.prefix = { intervals ? "${meta.id}_${intervals}" : "${meta.id}" }
   }
   withName: 'NFCORE_SAREK:SAREK:BAM_VARIANT_CALLING_SOMATIC_ALL:BAM_VARIANT_CALLING_SOMATIC_MUTECT2:MERGEMUTECTSTATS' {
        ext.prefix = { intervals ? "${meta.id}_${intervals}" : "${meta.id}" }
   }

}

